.unactive-container{
    display: flex;
    height: 200px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-column: 1 / -1;
    background: var(--background-card-color);
    border-radius: 12px;
    opacity: .8;
}