.game-page-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px 24px;
    align-items: stretch;
    padding: 0 14vw;
    padding-top: 80px;
    margin-bottom: 80px;
}


.game-card-cover-container {
    height: 200px;
    border-radius: 6px;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease 0s;
    border: 2px solid black;
}

.game-card-cover-container img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-title {
    color: var(--font-color-global);
}

.pagination-container {
    display: flex;
    list-style: none;
    grid-column: 1/7;
}

.pagination-container li {
    flex: 1;
    margin: 0px 5px;
    background: #dde1e7;
    border-radius: 3px;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
    cursor: pointer;
}

.pagination-container li a {
    font-size: 18px;
    text-decoration: none;
    color: #4d3252;
    height: 45px;
    width: 55px;
    display: block;
    line-height: 45px;
}

.pagination-container li.active {
    box-shadow: inset -3px -3px 7px #ffffff73,
        inset 3px 3px 5px rgba(94, 104, 121, 0.288);
}

.pagination-container li.active a {
    font-size: 17px;
    color: #6f6cde;
}
