/*---------Шапка страницы--------*/
.header {
    font-family: 'Roboto', sans-serif;
    height: 60px;
    padding: 0 14vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    width: 100%;
    background-color: var(--header-color);
    transition: background-color 200ms linear;
    position: fixed;
    top: 0;
    -webkit-box-shadow: 0px 2px 9px -2px rgba(34, 60, 80, 0.25);
    -moz-box-shadow: 0px 2px 9px -2px rgba(34, 60, 80, 0.25);
    box-shadow: 0px 2px 9px -2px rgba(34, 60, 80, 0.25);
}



/*-------Логотип сайта-------*/

.header-logo {
    font-family: PressToPlay;
    text-transform: uppercase;
    padding: 5px;
    text-decoration: none;
    font-size: 1.2em;
    color: var(--header-logo-color);
    transition: color 200ms linear;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
}

.user-icon-desktop {
    display: none;
}

/*--------------------Меню--------------------*/
.menu-icon {
    display: none;
}

#menu-item-transition {
    opacity: 0.8;
}

#menu-item-transition:hover {
    transition: all 0.4s;
    opacity: 1;
}

@media (max-width: 1023px) {
    .header {
        padding: 0 4vw;
        mix-blend-mode: normal;
    }

    .header-logo {
        order: 0;
        color: var(--header-logo-color);
        transition: color 200ms linear;
    }

    #menu-item-transition {
        opacity: 1;
    }

    .menu-icon {
        display: block;
        width: 30px;
        height: 18px;
        position: relative;
        z-index: 5;
        cursor: pointer;
        border-radius: 6px;
    }

    .menu-icon span {
        background-color: var(--menu-icon-color);
        transition: all 0.2s;
        position: absolute;
        top: calc(50% - 1px);
        left: 0;
        width: 100%;
        height: 2px;
    }

    .menu-icon span:first-child {
        top: 0;
    }

    .menu-icon span:last-child {
        top: auto;
        bottom: 0;
    }

    .menu-icon.active span {
        background-color: var(--menu-icon-color);
        transform: scale(0);
    }

    .menu-icon.active span:first-child {
        transform: rotate(-45deg);
        top: calc(50% - 1px);
    }

    .menu-icon.active span:last-child {
        transform: rotate(45deg);
        bottom: calc(50% - 1px);
    }

    .user-icon {
        display: none;
    }

    .user-icon-desktop {
        display: flex;
    }
}


@media (max-width: 1023px) {

    .menu-body {
        position: absolute;
        /* top: 100%; */
        bottom: 100%;
        left: 0;
        height: 100vh;
        width: 100%;
        background-color: rgba(39, 41, 43, 1);
        background-color: var(--menu-icon-color);
        transition: background-color 200ms linear;
        transition: all 0.3s;
    }
}

.menu-body.active {
    /* top: 0; */
    transform: translateY(100%); 
}

.menu-list {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 20px;
}

.menu-item {
    margin: 0 24px;
}

.theme-controller-mobile {
    display: none;
}

@media (max-width: 1023px) {
    .menu-list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;

        padding: 10vh 30vw;
        height: 100%;
        width: 100%;
        background-color: var(--menu-list-color);
        transition: background-color 200ms linear;
        overflow: auto;
    }

    .theme-controller-mobile {
        display: flex;
    }

    .theme-controller-desktop {
        display: none;
    }
    .menu-item {
        margin: 0 ;
    }
    
}


.menu-link {
    color: var(--menu-link-color);
    transition: color 200ms linear;
    text-decoration: none;
    transition: 0.5s;
    font-weight: regular;
    text-transform: uppercase;
}



@media (max-width: 1023px) {
    .menu-link {
        text-decoration: none;
        display: flex;
        flex-direction: row;
        gap: 1em;
        font-size: 20px;
        align-items: center;
        line-height: 70px;
        transition: 0.3s;
        color: var(--menu-link-color);
        transition: color 200ms linear;
        font-weight: 600;
    }

    .dropdown {
        display: none;
    }

}

.theme-controller-desktop {
    display: flex;
    flex-direction: row;
    margin-left: 0;
    justify-content: left;
    padding: 5px;
    gap: 10px;
}

.theme-controller-desktop{
    font-size: 14px;
    text-transform: none;
}

/* toggle-pill-color */
.toggle-pill-dark input[type="checkbox"] {
    display: none;
}

.toggle-pill-dark input[type="checkbox"]+label {
    display: flex;
    position: relative;
    width: 2.25em;
    height: 1.2em;
    border-radius: 1em;
    background: var(--theme-controller);
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    -webkit-transition: background 0.1s ease-in-out;
    transition: background 0.1s ease-in-out;
    transition: background 200ms linear;
}

.toggle-pill-dark input[type="checkbox"]+label:before {
    content: "";
    display: flex;
    width: 0.9em;
    height: 0.9em;
    border-radius: 1em;
    background: #ece11c;
    position: absolute;
    left: 0.15em;
    top: 0.15em;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.toggle-pill-dark input[type="checkbox"]:checked+label:before {
    background: #dddddde7;
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
    left: 1.2em;
    -webkit-transform: rotate(295deg);
    transform: rotate(295deg);
}

/* Выпадающее меню */
.dropbtn {
    font-family: 'Roboto', sans-serif;
    color: var(--font-color-global);
    padding: 10px;
    font-size: 20px;
    text-transform: uppercase;
    border: none;
    border-radius: 6px 6px 6px 6px;
    cursor: pointer;
    background: none;
    transition: all 200ms linear;
    text-align: center;
    align-items: center;
    display: flex;
    text-decoration: none;
    gap: 5px;
    min-width: 160px;
    max-width: 100%;
}

.dropdown {
    position: relative;
    display: inline-block;
    font-size: 20px;

}
.drop-down-line{
    color: var(--font-color-global);
    opacity: 0.4;
}
.dropdown-img{
    width: 24px;
    height: 24px;
    object-fit: cover;
    border-radius: 50px;
}

.dropdown-content {
    font-family: 'Roboto', sans-serif;
    color: var(--font-color-global);
    text-transform: uppercase;
    display: none;
    position: absolute;
    background-color: var(--dropdown-color);
    min-width: 160px;
    width: 100%;
    z-index: 1;
    border-radius: 0 0 6px 6px;
    transition: all 200ms linear;

}

.dropdown-content a {
    color: var(--font-color-global);
    padding: 6px 6px;
    text-decoration: none;
    display: block;
    transition: all 200ms linear;
    text-transform: none;
    font-size: 14px;
    width: 100%;
}

.dropdown-content a:hover {
    background-color: var(--font-color-global);
    color: var(--buttons-color)
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: var(--dropdown-color);
    border-radius: 6px 6px 0px 0px;
    transition: all 200ms linear;

}
@media (max-width: 1023px){
   .dropdown{
    display: none;
   }
}