
.list-create-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px 24px;
    align-items: stretch;
    padding: 0 14vw;
    padding-top: 140px;
    padding-bottom: 80px;
    min-height: 100vh;
}

.list-create-cover-container {
    display: block;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
    position: relative;
    margin: 1em 1em;
    inline-size: 200px;
    block-size: 200px;
}

.list-create-cover-container img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
