.pagination-container {
    grid-column: 1 / -1;
    border-radius: 6px;
    padding: 1em 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}


.pagination-container li {
    display: flex;
    font-weight: 400;
    cursor: pointer;
    border-radius: 6px;
    background-color: var(--buttons-color);
    transition: all 180ms linear;

}

.pagination-container li a {
    padding: 0.2em 0.3em;
    display: flex;
    width: 100%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.pagination-container li:hover {
    cursor: pointer;
    border-radius: 6px;
    background-color: aliceblue;
    transform: scale(1.1);
}

.pagination-container li.active {
    background-color: #1349C9;
}