.profile-page-section {
    margin-top: 12%;
    font-family: 'Inter', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px 24px;
    align-items: stretch;
    padding: 0 14vw;
}

.profile-header {
    margin-left: 5px;
    grid-column: 1/7;
    text-decoration: underline;
    color: var(--font-color-global);
}

.back-banner {
    position: relative;
    display: flex;
    grid-column: 1/7;
    width: 100%;
    height: 170px;
}

.banner {
    display: flex;
    background-color: var(--background-card-color);
    height: 120px;
    width: 100%;
    border-radius: 0 6px 6px 6px;
    margin-top: 50px;
    transition: all 200ms linear;
}

.edit-profile-button {
    color: var(--font-color-global);
    padding: 10px;
    display: flex;
    height: 20%;
    margin-left: auto;
    margin-right: 2%;
    margin-top: 1.5%;
    align-items: center;
    text-align: center;
    border: none;
    background-color: var(--buttons-color);
    transition: all 200ms linear;
    border-radius: 6px;
    cursor: pointer;
}

.name-card{
    margin-top: 1.5%;
    margin-left: 15%;
    margin-right: auto;
    font-size: 32px;
    color: var(--font-color-global);
    transition: all 200ms linear;
}

.main-card {
    grid-column: 1/7;
    border-radius: 10px;
    height: 100%;
    background-color: var(--background-card-color);
    font-family: 'Inter', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px 24px;
    align-items: stretch;
    padding: 0 2%;
    margin-bottom: 140px;
    align-items: center;
    transition: all 200ms linear;
}

.profile-img-container {
    position: absolute;
    display: flex;
}

.profile-img-container img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    object-fit: cover;
}

.list-card {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    height: 80%;
}