.profile-page-section {
    margin-top: 60px;
    font-family: 'Inter', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px 24px;
    align-items: stretch;
    padding: 0 14vw;
}

.profile-banner {
    margin-top: 144px;
    background-color: var(--background-card-color);
    grid-column: 1/7;
    display: flex;
    flex-direction: row;
    border-radius: 0 6px 6px 6px;
    align-items: flex-start;
    color: var(--font-color-global);
    transition: all 200ms linear;
}

.profile-banner-img {
    margin-top: 80px;
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.empty-block {
    width: 120px;
    height: 120px;
}

.profile-banner-name {
    margin-left: 12px;
    margin-top: 12px;
    font-size: 36px;
    color: var(--font-color-global);
    transition: all 200ms linear;

}

.other-banner-info {
    margin-left: 12px;
    opacity: 0.4;
    transition: all 200ms linear;

}

.profile-banner-button {
    margin-top: 12px;
    margin-right: 12px;
    margin-left: auto;
    padding: 6px;
    background-color: var(--buttons-color);
    color: var(--font-color-global);
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: all 200ms linear;
}

.profile-banner-button-unfollow {
    margin-top: 12px;
    margin-right: 12px;
    margin-left: auto;
    padding: 6px;
    background-color: var(--buttons-color);
    color: var(--font-color-global);
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: all 200ms linear;
}

.profile-banner-button-follow {
    margin-top: 12px;
    margin-right: 12px;
    margin-left: auto;
    padding: 6px;
    background-color: #1349C9;
    color: var(--font-color-global);
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: all 200ms linear;
}

.profile-banner-button-link {
    margin-left: auto;
}


.main-lists-container {
    background-color: var(--background-card-color);
    grid-column: 1/7;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-radius:6px;
    align-items: flex-start;
    color: var(--font-color-global);
    transition: all 200ms linear;
}


.list-card {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: #39393b;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    height: 200px;
    margin: 12px;
}

.list-card:hover {
    background-color: var(--background-card-color);
    opacity: 0.7;
}

.card__image-container {
    display: flex;
    border-radius: 10px;
    height: 100%;
    padding-top: 56.25%;
    overflow: hidden;
    position: relative;
}

.card__image-container img {
    object-fit: cover;
    height: 100%;
    /* width: 100%; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.last-game-container {
    background-color: var(--background-card-color);
    grid-column: 1/7;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    border-radius:6px;
    align-items: flex-start;
    color: var(--font-color-global);
    transition: all 200ms linear;
}