.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 240px;
    gap: 6px;
}

.form-container input {
    border: none;
    border-radius: 6px;
    padding: 6px;
    background-color: var(--input-color);
    color: var(--font-color);
}

.show-password-container {
    display: flex;
    gap: 6px;
    align-items: center;
}