
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


body {
  margin-top: 90px;
  font-family: 'Inter', sans-serif;
}

body.lock {
  overflow: hidden;
}

.header {
  font-family: 'Inter', sans-serif;
  height: 60px;
  padding: 4vh 14vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
  width: 100%;
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  -webkit-box-shadow: 0px 2px 9px -2px rgba(34, 60, 80, 0.25);
  -moz-box-shadow: 0px 2px 9px -2px rgba(34, 60, 80, 0.25);
  box-shadow: 0px 2px 9px -2px rgba(34, 60, 80, 0.25);
}



/*-------Р›РѕРіРѕС‚РёРї СЃР°Р№С‚Р°-------*/

.header-logo {
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
  padding: 5px;
  text-decoration: none;
  font-size: 24px;
  color: rgba(39, 41, 43, 1);
}

.social-imgs {
  width: 24px;
  height: 24px;
}

/*--------------------РњРµРЅСЋ--------------------*/
.menu-icon {
  display: none;
}

#social-logo {
  opacity: 0.4;
}

#social-logo:hover {
  transition: all 0.4s;
  opacity: 1;
}

#menu-item-transition {
  opacity: 0.4;
}

#menu-item-transition:hover {
  transition: all 0.4s;
  opacity: 1;
}
.social-icons{
  font-size: 20px;
}

@media (max-width: 1023px) {
  .header {
      padding: 0 4vw;
      mix-blend-mode: normal;
  }

  .header-logo {
      order: 0;
      color: rgba(39, 41, 43, 1);
  }

  #menu-item-transition {
      opacity: 1;
  }

  .menu-icon {
      display: block;
      width: 30px;
      height: 18px;
      position: relative;
      z-index: 5;
      cursor: pointer;
      border-radius: 6px;
  }

  .menu-icon span {
      background-color: rgba(39, 41, 43, 1);
      position: absolute;
      top: calc(50% - 1px);
      left: 0;
      width: 100%;
      height: 2px;
      /*background-color: rgba(39, 41, 43, 1);*/
      transition: all 0.2s;
  }

  .menu-icon span:first-child {
      top: 0;
  }

  .menu-icon span:last-child {
      top: auto;
      bottom: 0;
  }

  .menu-icon.active span {
      background-color: rgba(39, 41, 43, 1);
      transform: scale(0);
  }

  .menu-icon.active span:first-child {
      transform: rotate(-45deg);
      top: calc(50% - 1px);
  }

  .menu-icon.active span:last-child {
      transform: rotate(45deg);
      bottom: calc(50% - 1px);
  }

  .social-icons {
      display: none;
  }
}


@media (max-width: 1023px) {
  .menu-body {
      position: absolute;
      bottom: 100%;
      left: 0;
      height: 100vh;
      width: 100%;
      background-color: rgba(39, 41, 43, 1);
      transition: all 0.3s;
  }
}

.menu-body.active {
  transform: translateY(100%);

}

.menu-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
}

.menu-item {
  margin: 0 24px;
}


@media (max-width: 1023px) {
  .menu-list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 10vh 20vw;
      gap: 0;
      height: 100%;
      width: 100%;
      background-color: #ffffff;
      overflow: auto;

  }
}


.menu-link {
  color: rgba(39, 41, 43, 1);
  text-decoration: none;
  transition: 0.5s;
  font-weight: regular;
  text-transform: uppercase;
}



@media (max-width: 1023px) {
  .menu-link {
      text-decoration: none;
      display: block;
      font-size: 30px;
      line-height: 70px;
      transition: 0.3s;
      color: rgba(39, 41, 43, 1);
  }

}

/* .menu-link:after {
  background-color: #000000;
  display: block;
  content: "";
  height: 2px;
  width: 0;
  -webkit-transition: width .3s ease-in-out;
  -moz--transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
}  */

.menu-link,
:hover:after,
.menu-link:focus:after {
  width: 100%;
} 

