.upload-field-container-form.article {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    justify-content: left;
    gap: 12px;
}

.upload-filed-container.article {
    display: flex;
    border: 2px solid var(--font-color);
    border-radius: 6px;
    height: 120px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.article-cover-container-preview {
    display: block;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 400px;
}

.article-cover-container-preview img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.buttons-container {
    display: flex;
    gap: 12px;
    flex-direction: column;
}

.article-create-form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    gap: 6px;
}

.article-create-form-container input {
    border: none;
    border-radius: 6px;
    padding: 6px;
    max-width: 100%;
    background-color: var(--input-color);
}

.article-create-form-container textarea {
    font-family: Roboto;
    resize: none;
    height: 150px;
    border: none;
    border-radius: 6px;
    padding: 6px;
    background-color: var(--input-color);
}


@media (max-width: 500px) {
    .upload-field-container-form.article {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }

    .upload-filed-container {
        max-width: 100%;
        /* max-height: 60px; */
    }
}