* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
}

body.lock {
  overflow: hidden;
}

html[data-theme='dark'] {
  --font-color: rgba(255, 255, 255, .9);
  --header-color: rgba(0, 0, 0, .4);
  --background-color: #1A1A1A;
  --button-color: #383838;
  --navbar-color: #383838;

  --action-button-font: : rgba(0, 0, 0, 1);
  --action-button-background: rgba(0, 0, 0, 0.6);

  --background-title-color: rgba(0, 0, 0, .8);
  --modal-background: rgba(0, 0, 0, 1);
  --background-banner-color: rgba(0, 0, 0, .8);

  --input-color: rgba(0, 0, 0, .2);
}

html[data-theme='light'] {
  --font-color: #1d1d1f;
  --header-color: rgba(255, 255, 255, .2);
  --background-color: #fafafa;
  --button-color: #D9D9D9;
  --navbar-color: rgba(255, 255, 255, 1);

  --action-button-background: rgba(0, 0, 0, 0.6);
  --action-button-font: rgba(255, 255, 255, 1);

  --background-title-color: rgba(255, 255, 255, .8);

  --modal-background: rgba(255, 255, 255, 1);

  --background-banner-color: rgba(0, 0, 0, .1);

  --input-color: rgba(0, 0, 0, .2);
}

a {
  color: var(--font-color);
}

.loading-page {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 100;
  justify-content: center;
  align-items: center;
  display: flex;
}

.not-found-container {
  display: flex;
  grid-column: 1 / -1;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}