* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
}

body.lock {
  overflow: hidden;
}



@font-face {
  font-family: Montserrat;
  src: url('./assets/fonts/Montserrat-VariableFont_wght.ttf');
}

@font-face {
  font-family: Roboto;
  src: url('./assets/fonts/Roboto-Regular.ttf');
}


html[data-theme='dark'] {
  --font-color: rgba(255, 255, 255, .9);
  --header-color: rgba(0, 0, 0, .4);
  --background-color: #1A1A1A;
  --button-color: #383838;
  --navbar-color: #383838;

  --action-button-font: : rgba(0, 0, 0, 1);
  --action-button-background: rgba(255, 255, 255, .5);

  --background-title-color: rgba(0, 0, 0, .8);
  --background-card-color: rgba(0, 0, 0, .8);
  --modal-background: rgba(0, 0, 0, 1);
  --background-banner-color: rgba(0, 0, 0, .8);

  --input-color: rgba(180, 180, 180, 0.3);

  --icon-favorite: url('./assets/icons/heart-white.png');
  --icon-completed: url('./assets/icons/check-white.png');
  --icon-wishlist: url('./assets/icons/clock-white.png');
  --icon-plus: url('./assets/icons/plus-white.png');
}

html[data-theme='light'] {
  --font-color: #1e1d1f;
  --header-color: rgba(255, 255, 255, .2);
  --background-color: #fafafa;
  --button-color: #D9D9D9;
  --navbar-color: rgba(255, 255, 255, 1);

  --action-button-background: rgba(0, 0, 0, 0.6);
  --action-button-font: rgba(255, 255, 255, 1);

  --background-title-color: rgba(255, 255, 255, .8);

  --background-card-color: #D9D9D9;

  --modal-background: rgba(255, 255, 255, 1);

  --background-banner-color: rgba(0, 0, 0, .1);

  --input-color: rgba(0, 0, 0, .2);

  --icon-favorite: url('./assets/icons/heart-black.png');
  --icon-completed: url('./assets/icons/check-black.png');
  --icon-wishlist: url('./assets/icons/clock-black.png');
  --icon-plus: url('./assets/icons/plus-black.png');
}

a {
  color: var(--font-color);
}


.not-found-container {
  display: flex;
  grid-column: 1 / -1;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}