.article-page-section {
    display: flex;
    flex-direction: column;
    padding-top: 168px;

    padding-bottom: 80px;
    min-height: calc(100vh - 248px);
    align-items: center;
    justify-content: center;
    font-family: Montserrat;
}

.article-page-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 18px;
    width: 800px;
}


.article-image-container-shadow {
    top: 0;
    width: calc(100% - 24vw);
    height: 41vh;
    position: absolute;
    overflow: hidden;
    z-index: -1;
    -webkit-box-shadow: 0px -60px 17px -8px var(--background-color) inset;
    -moz-box-shadow: 0px -60px 17px -8px var(--background-color) inset;
    box-shadow: 0px -60px 17px -8px var(--background-color) inset;
}

.article-image-container {
    top: 0;
    width: calc(100% - 24vw);
    max-height: 40vh;
    position: absolute;
    overflow: hidden;
    z-index: -2;
    opacity: 0.4;
}

.article-image-container img {
    object-fit: contain;
    width: 100%;
}

.article-title {
    align-items: center;
    text-align: center;
    grid-column: 1 / -1;
    font-size: 3em;
    word-wrap: break-word;
}

.about-author {
    display: flex;
    font-size: large;
    justify-content: center;
    gap: 6px;
    grid-column: 1 / -1;
    font-style: italic;
}

.article-text-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
    grid-column: 1 / -1;
    word-wrap: break-word;
}

.article-text-container p, ul, li {
    font-weight: 500;
}

.article-text-container h1 {
    font-size: 2em;
    font-weight: bold;
}

.article-text-container blockquote {
    border-left: 4px solid #ccc;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 16px;
    font-weight: 700;

}

/* .article-text-container p{
    font-size: 1.2em;
}

.article-text-container p ul{
    list-style: none;
    font-size: 1.2em;
}
.article-text-container ul {
    list-style: none;
    font-size: 1.2em;
} */

.article-text-container img {
    max-width: 100%;
    max-height: 100%;
    margin-top: 12px;
    margin-bottom: 12px;
}

/* .article-text-container .first-paragraph::first-letter {
    font-size: 70px;
    line-height: 69px;
    float: left;
    margin: 0 6px 0 0;
} */

.like-count-container {
    display: flex;
    grid-column: 1 / -1;
}

@media (max-width: 1100px) {
    .article-page-grid {
        width: 600px;
    }
}

@media (max-width: 700px) {
    .article-page-grid {
        width: 400px;
    }
}

@media (max-width: 425px) {
    .article-page-grid {
        width: 300px;
    }
}