.games-lists-section {
    display: flex;
    padding-top: 128px;
    padding-left: 12vw;
    padding-right: 12vw;
    padding-bottom: 80px;
    min-height: calc(100vh - 128px);
    align-items: flex-start;
    font-family: Roboto;
}

.game-in-lists-grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 100%;
    gap: 1em;
    align-items: flex-start;
}

.user-list-info {
    display: flex;
    grid-column: 1 / -1;
    flex-direction: column;
    gap: 6px;
    background-color: var(--background-banner-color);
    background: rgb(255, 126, 0);
    background: linear-gradient(-90deg, rgba(255, 126, 0, 0.22032563025210083) 15%, rgba(148, 187, 233, 1) 85%);
    border-radius: 12px;
    padding: 12px;
}

.add-to-list-wrap {
    align-items: center;
    display: flex;
    gap: 6px;
}

@media (max-width: 800px) {
    .game-in-lists-grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        gap: 1em;
        align-items: flex-start;
    }

}

@media (max-width: 425px) {
    .game-in-lists-grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        gap: 1em;
        align-items: flex-start;
    }

}