.games-lists-section {
    display: flex;
    padding-top: 128px;
    padding-left: 12vw;
    padding-right: 12vw;
    padding-bottom: 80px;
    min-height: calc(100vh - 128px);
    align-items: flex-start;
    font-family: Roboto;
}

.game-in-lists-grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 100%;
    gap: 1em;
    align-items: flex-start;
}

@media (max-width: 800px) {
    .game-in-lists-grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        gap: 1em;
        align-items: flex-start;
    }

}
@media (max-width: 425px) {
    .game-in-lists-grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        gap: 1em;
        align-items: flex-start;
    }

}