.news-page-section {
    display: flex;
    flex-direction: column;
    padding-top: 128px;
    padding-left: 12vw;
    padding-right: 12vw;
    padding-bottom: 80px;
    min-height: calc(100vh - 208px);
    font-family: Montserrat;
}

.news-page-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
    align-items: flex-start;
}

@media (max-width:1000px) {

    .news-page-section {

        padding-left: 4vw;
        padding-right: 4vw;

    }

    .news-page-grid {
        grid-template-columns: repeat(1, 1fr);
    }

}