.search-page-section{
    display: flex;
    flex-direction: column;
    padding-top: 128px;
    padding-left: 12vw;
    padding-right: 12vw;
    padding-bottom: 80px;
    min-height: calc(100vh - 208px);
    align-items: flex-start;
    font-family: Montserrat;
}

.search-page-grid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 18px;
    width: 100%;
}


@media (max-width: 800px) {
    .search-page-section{
        padding-top: 88px;
        padding-left: 4vw;
        padding-right: 4vw;
        min-height: calc(100vh - 888px);
    }

    .search-page-grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1em;
        align-items: flex-start;
    }

}


@media (max-width: 425px) {
    .search-page-grid{
        grid-template-columns: repeat(2, 1fr);
    }

}