.info-banner-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 32px;
    grid-column: 1 / -1;
    border-radius: 12px;
    border: 2px solid var(--font-color);
    gap: 12px;
}

.info-banner-container ol ul li {
    max-width: 100%;
    list-style: none;
}

.info-banner-container ol {
    max-width: 100%;
}