.user-settings-form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    max-width: 100%;
    gap: 6px;
}

.user-settings-form-container input {
    border: none;
    border-radius: 6px;
    padding: 6px;
}

.user-settings-form-container select {
    border: none;
    border-radius: 6px;
    padding: 6px;
}

.show-password-container{
    display: flex;
    gap: 6px;
    align-items: center;
}