.game-search-input{
    padding: 10px;
    border: none;
    width: 100%;
    border-radius: 50px;
    background-color: var(--buttons-color);
    transition: background-color 200ms linear;
    color: var(--font-color-global);
    top: 0;
}

.search-grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    gap: 1em;
}

.search-input-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.search-input-container .form-button{
    width: auto;
}

@media (max-width:768px) {
    .search-grid-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        gap: 1em;
    }
    
}