* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


body.lock {
  overflow: hidden;
}

body{
  margin-top: 90px;
  background-color: var(--background-color);
  transition: background-color 200ms linear;
}