* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


body.lock {
  overflow: hidden;
}

body{
  margin-top: 90px;
  background-color: var(--background-color);
  color: var(--font-color-global);
  font-family: 'Roboto', sans-serif;
  transition: all 200ms linear;
}
