@font-face {
  font-family: PressToPlay;
  src: url('./fonts/PressStart2P-Regular.ttf');
}

html[data-theme='dark'] {
  --background-color: #1A1A1A;
  --header-color: #333333;
  --menu-link-color: #CFCFCF;
  --menu-list-color: #333333;
  --menu-icon-color:#CFCFCF;
  --header-logo-color: #CFCFCF;
  --text-input-color: #242424;
  --font-color-global: #CFCFCF;
  --button-color: #1349C9;
  --button-hover: rgba(39, 41, 43, 0.5);
  --theme-controller: #595959;
  --dropdown-color: #4B4B4B;
  --buttons-color: #383838;
  --background-card-color: #242424;
  --checkbox-panel-background-color: rgba(39, 41, 43, 0.9);
  --plus-checkbox-background-image: url('./icons/plus-white.png');
  --check-checkbox-background-image: url('./icons/check-white.png');
  --clock-checkbox-background-image: url('./icons/clock-white.png');
  --heart-checkbox-background-image: url('./icons/heart-white.png');

}


html[data-theme='light'] {
  --background-color: #F1F1F1;
  --header-color: #FFFFFF;
  --menu-link-color: rgba(39, 41, 43, 1);
  --menu-list-color: #FFFFFF;
  --menu-icon-color:rgba(39, 41, 43, 1);
  --header-logo-color: rgba(39, 41, 43, 1);
  --text-input-color: #FFFFFF;
  --font-color-global: rgba(39, 41, 43, 1);
  --button-color: #1349C9;
  --button-hover: #FFFFFF;
  --theme-controller: #F1F1F1;
  --dropdown-color: #D9D9D9;
  --buttons-color: #D9D9D9;
  --background-card-color: #FFFFFF;
  --checkbox-panel-background-color: rgba(255,255,255,0.7);
  --plus-checkbox-background-image: url('./icons/plus-black.png');
  --check-checkbox-background-image: url('./icons/check-black.png');
  --clock-checkbox-background-image: url('./icons/clock-black.png');
  --heart-checkbox-background-image: url('./icons/heart-black.png');

}