html[data-theme='dark'] {
  --background-color: #1A1A1A;
  --header-color: #333333;
  --menu-link-color: #CFCFCF;
  --menu-list-color: #333333;
  --menu-icon-color:#CFCFCF;
  --header-logo-color: #CFCFCF;
}


html[data-theme='light'] {
  --background-color: #F1F1F1;
  --header-color: #FFFFFF;
  --menu-link-color: rgba(39, 41, 43, 1);
  --menu-list-color: #FFFFFF;
  --menu-icon-color:rgba(39, 41, 43, 1);
  --header-logo-color: rgba(39, 41, 43, 1);

}